/* Font Importing */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 200px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}



section {
    /* border: 2px solid blue; */
    padding: 0 60px;
}


/* Container Class Styling */
.container {
    /* border: 10px solid yellow; */
    background-color: #000000;
    color: #ffffff;

}

.services-heading,
.about-heading,
.skills-heading {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

/* hero section */
.hero-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.hero-header img {
    width: 15rem;
}

.hero-header ul {
    display: flex;
    flex-direction: row;
}

.hero-header li {
    padding: 2px 15px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.nav-link {
    color: #000000;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    position: relative;
}

.hero-content img {
    width: 450px;
}

.hero-text {
    /* border: 2px solid green; */
    width: 40%;
    height: auto;
    padding: 20px;
    ;
}

.hero-icon {
    /* border: 1px solid #C00C0C; */

}

.hero-btn {
    background-color: #C00C0C;
    position: absolute;
    width: 100px;
    height: auto;
    top: 600px;
    left: 100px;
    border: none;
    padding: 4px;
}

.hero-btn i {
    font-size: 60px;

}

/* services styling */


.services-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.services-card {
    /* border: 2px solid yellow; */
    margin: 0 50px;
    text-align: center;
}

.services-card img {
    width: 100px;
    padding: 10px;
}
.services-card h1 {
    padding: 15px;
}

/* About Section Styling */

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    position: relative;
}

.about-content img {
    width: 100px;
}

.about-info {
    display: flex;
    flex-direction: row;
    margin-left: 50px;

}

.about-info-card {
    /* border: 2px solid yellow; */
    margin: 0 20px;
    padding: 20px;
}


.about-info-card h1 {
    color: #C00C0C;
    font-size: 35px;
}

.about-info-card p {
    font-size: 30px;
}

.about-banner {
    text-align: center;
    background-color: #D9D9D92E;
    width: auto;
    margin: 20px 30%;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
}

.hire-btn {
    position: relative;
    top: -37px;
    left: 40%;
}

.hire-btn img {
    width: 200px;
}

/* skills section stylings */
.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* border: 5px solid red; */
}

.skills-item {
    /* border: 4px solid yellow; */
    line-height: 20px;

}

.prog-skills {
    /* border: 4px solid forestgreen; */
}

.prog-skills h1 {
    text-align: center;
}

.prog-skills-container {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
    /* display: flex;
    flex-direction:row ;
    flex-wrap: wrap; */

}

.contact-me {
    background-color: #C00C0C;
    border: none;
    color: white;
    height: 25px;
    padding: 3px;
    margin-top: 30px;

}

.cv {
    background-color: transparent;
    border: none;
    color: white;
    height: 25px;
    padding: 3px;
    margin: 30px 0 0 10px;
    border: 0.5px solid wheat;
}


.prog-skills-container img {
    width: 100px;
    height: 70px;
}

/* styling for portifolio */

.portifolio-heading,
.sertificates-awards-container,
.project-namename {
    font-size: 50px;
    text-align: center;
    padding: 20px;

}

.portifolio img {
    width: 250px;
    height: 150px;
}


.projects {
    text-align: center;
}

.projects h1 {
    text-align: left;
    /* border: 2px solid red; */

}

.project-name {
    background-color: red;
    color: white;
    height: 25px;
    padding: 3px;
}

.display-number-of-achievment {
    background-image: url("/Emile Web/Assets/Rectangle 54.png");
    display: flex;
    justify-content: space-around;
    margin: 30px 5px;
    padding: 30px;
    border-radius: 50px;
}

.display-number-of-achievment h1 {
    font-size: 50px;
    text-align: center;
    color: #C00C0C;
}


/* footer styling */
footer {
    background-image: url("/Assets/Rectangle\ 81.png");
    height: auto;


}

p,
h2,
span,
a {
    color: white;
}

.getInTouch-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 269.3px;
    cursor: grab;

}

.fa-regular,
.fa-solid {
    color: #d70000;
    padding-right: 9px;
}

.address-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    margin: 15px auto;
}

.address-contact span {
    text-align: center;
    padding: 5px 10px;
}




.connecting {
    display: flex;
    justify-content: space-around;
    margin-bottom: -10px;
}

.connect-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: auto;
}

.fa-brands {
    color: white;
    padding-right: 5px;
}

.connect-form {
    /* border: 4px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    display: flex;
    gap: 10px;
}


input {
    display: block;
    border: none;
    padding: 5px 5px 0;
}

.form-btn {
    background-color: red;
    color: white;
    width: 130px;
    height: 30px;
    margin-left: auto;
}

.form-textarea {
    min-height: 70px;
}

/* for back to top btn */
.backtop-btn {
    position: relative;
    text-align: right;
    /* border: 5px solid green; */
}

.backtop-btn img {
    width: auto;
    height: auto;
}

.copyright-footer {
    width: 100%;
    text-align: center;
    background-color: #d9d9d9;
    font-size: 15px;
    ;
}